In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("spam.csv",encoding="Latin-1")

In [3]:
data.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [6]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
data['v1']=data['v1'].map({'ham':0, 'spam':1})

In [8]:
data.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
cv=CountVectorizer()

In [23]:
X=data['v2']
y=data['v1']

In [24]:
X.shape

(5572,)

In [25]:
y.shape

(5572,)

In [26]:
data.isnull().sum()

v1    0
v2    0
dtype: int64

In [27]:
cv=CountVectorizer()

In [28]:
X=cv.fit_transform(X)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test,y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [32]:
x_train.shape

(4457, 8672)

In [33]:
x_test.shape

(1115, 8672)

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
from sklearn.naive_bayes import MultinomialNB

In [36]:
model=MultinomialNB()

In [37]:
model.fit(x_train, y_train)

MultinomialNB()

In [38]:
model.score(x_test, y_test)

0.97847533632287

In [39]:
msg="You Won 500$"
data = [msg]
vect = cv.transform(data).toarray()
my_prediction = model.predict(vect)

In [40]:
vect

array([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
import pickle
pickle.dump(model, open('spam.pkl','wb'))
model1 = pickle.load(open('spam.pkl','rb'))

In [42]:
from win32com.client import Dispatch

In [43]:
def speak(text):
    speak=Dispatch(("SAPI.SpVoice"))
    speak.Speak(text)

In [44]:
def result(msg):
    data = [msg]
    vect = cv.transform(data).toarray()
    my_prediction = model1.predict(vect)
    if my_prediction[0]==1:
        print("This is a Spam mail")
    else:
        print("This is not a Spam mail")

In [45]:
import tkinter as tk

In [ ]:
root=tk.Tk()
root.geometry("200x200")
l2=tk.Label(root, text="Email Spam Classification Application")
l2.pack()
l1=tk.Label(root, text="Enter Your Message:")
l1.pack()
text=tk.Entry(root)
text.pack()
def result():
    data = [text.get()]
    vect = cv.transform(data).toarray()
    my_prediction = model1.predict(vect)
    if my_prediction[0]==1:
        speak("This is a Spam mail")
        print("This is a Spam mail")
    else:
        speak("This is not a Spam mail")
        print("This is not a Spam mail")
B=tk.Button(root, text="Click", command=result)
B.pack()

root.mainloop()

This is a Spam mail